<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="example-config">
    <Properties>
        <Property name="LOG_DIR">${sys:catalina.base}/logs/city-alerts</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%level %d{yyyy-MM-dd-hh-mm}- %c{1}: %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/city.log"
                     filePattern="${ARCHIVE}/city.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="fileWriter"/>
        </Root>
    </Loggers>
</Configuration>